.home {
    position: relative;
    background-color: #000;

    .banner {
        position: absolute;
        left: -20px;
        top: -20px;
        right: -20px;
        height: 66.66vw;
        background: url('@/assets/banner.jpg') 50% no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .page-head {
        position: relative;
        margin-top: 16vh;
        margin-bottom: 20vh;
        color: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        z-index: 2;
    }

    .content-card {
        position: relative;
        color: #fff;
        margin-bottom: 1rem;
        z-index: 2;
    }

    .project-item {
        display: inline-block;
        width: 32%;
        border-radius: 8px;
        border: 2px solid #ffffff66;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background: #ffffff12;

        &:nth-child(3n+2) {
            margin-left: 2%;
            margin-right: 2%;
        }

        .tags {
            height: 80px;
        }

        .cover-img {
            padding-top: 56.25%;
            width: 100%;
            background-color: #ccc;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .keyword {
            display: inline-block;
            padding: 4px 8px;
            color: #fff;
            border-radius: 4px;
            background-color: #1890ff;
            margin-bottom: 10px;
            margin-right: 10px;
            box-shadow: 0 0 1px 1px #ffffff64;
        }
    }

    .about {
        .photo {
            margin-right: 2%;
            width: 32%;
            padding-top: 45%;
            background: url('@/assets/banner.jpg') 50% no-repeat;
            background-size: cover;
        }
        .about-text {
            border-radius: 8px;
            border: 2px solid #ffffff66;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            background: #ffffff12;
        }
    }
}